{% extends 'base.html' %}
{% block title %}Skill {{ skill['skillName'] }}{% endblock %}
{% block content %}
    <h1 class="text-center mt-80">
        {{ id }}. {{ skill['skillName'] }}
    </h1>

    <br><br><br><br><br><br><br><br>
{% endblock %}