{% from 'fieldMacro.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="mt-5">
        <h2 class="text-center">Login</h2>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="mt-3">
            <form method="POST" novalidate>
                {{ form.csrf_token }}
                {{ displayField(form.email, "Email") }}
                {{ displayField(form.password, "Password") }}
                
                <div class="form-check mt-4">
                    {{ form.rememberMe(class="form-check-input ") }} {{ form.rememberMe.label() }}
                </div>
                <br><br>

                {{ form.submit(class="btn btn-primary width-100 negative-mt-20") }}
            </form>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br>

{% endblock %}