{% from 'fieldMacro.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center mt-30">Create new post</h2>
        <br>
        <div class="d-flex align-items-center justify-content-start">
            <div class="mt-3">
                <form method="POST" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ displayField(form.title, "Post title") }}
                    {{ displayField(form.text, "") }}
                    {{ displayField(form.image, "") }}
                    {{ displayField(form.postType, "") }}
                    <br><br>
                    {{ form.submit(class="btn btn-primary width-100") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}  