<section class="mt-80">
    <footer class="bg-dark text-light text-center text-md-start">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="">Info about user_agent:</h5>      
            <p>
              {{ agent }} 
              <br><br>
              Current tine: {{ time }}
            </p>
          </div>

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="">Info about operating system:</h5>      
            <p>
              {{ osInfo }} 
            </p>
          </div>
        </div>
      </div>
      
      <div class="text-center p-3 bg-primary text-black">
        © 2023 Copyright
      </div>
    </footer>
</section>