{% set menu = {
    "Skills": url_for('portfolio.skills'),
    "Account": url_for('auth.account'),
    "Login": url_for('auth.login'),
    "Registration": url_for('auth.registration'),
    "Todo": url_for('todo.todos'),
    "Feedbacks": url_for('feedback.feedbacks'),
    "Users": url_for('auth.users'),
     "Posts": url_for('post.posts'),
    "Logout": url_for('auth.logout')
} %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-light" href="{{ url_for('portfolio.home') }}">My App</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% for name, url in menu.items() %}
                    {% if current_user.is_authenticated %}
                        {% if name != "Login" and name != "Registration" %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if name != "Logout" and name != "Account" %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
